<div class="container" data-controller="chatroom-subscription">
    <h1>The Chatroom</h1>

    <div class="messages" data-chatroom-subscription-target="messages">
        <% @messages.each do |message| %>
            <%= render "message", message: message %>
        <% end %>
    </div>

    <%= simple_form_for @message, html:{data: {action: "turbo:submit-end->chatroom-subscription#resetForm"}} do |f| %>
        <%= f.input :content, label: false, placeholder: "Press Enter to send" %>
    <% end %>
</div>